# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/

# Large binaries & Firebird clients
fb25_x64/
fb25_x64.zip

# Flask / Local configurations
.env
instance/
.pytest_cache/

# OS files
.DS_Store
Thumbs.db
